div {

}

input {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #F3F3F3;
    margin-left: 15px;
    margin-right: 15px;
}

#fi-beer-desktop {
    position: absolute;
    width: 95%;
    height:95%;
    border-style: solid;
    border-width: 1px;
}

#fi-beer-graph {
    position: absolute;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
}

#fi-beer-values {
    display: block;
    position: absolute;
    width: 120px;
    background-color: #F3F3F3;
    top: 0px;
    right: 0px;
    margin: 5px;
    bottom: 58px;
    border-style: solid;
    border-width: 1px;
}

#fi-beer-controls {
    position: absolute;
    height: 50px;
    background-color: #F3F3F3;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
}

.fi-beer-pair {
    float: none;
    width: 80px;
    background-color: pink;
    border-stylye: solid;
    padding-left: 20px;
}

.fi-beer-label {
    margin: 4px;
    float: left;
}

.fi-beer-value {
    margin: 4px;
    float: right;
}
